.themes-box {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: row wrap;
    z-index: 2;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }

    &__combined-theme-and-lesson-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .themes {
        width: 200px;
        min-height: 200px;
        height: 200px;
        font-size: 1em;
        text-transform: uppercase;
        border-radius: 10px;
        background-color: rgb(250, 239, 224);
        overflow: hidden;
        box-shadow: 10px 10px 5px rgb(119, 117, 117);
        margin: 10px;      
        cursor: pointer;
        display: inline-block;
        color: #000;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        border: 2px solid rgb(230, 193, 144);

            &:hover {
                background-color: rgb(230, 193, 144);
            }

        &__image {
            width: 75px;
            height: 75px;
        }

        &__title {
            margin-top: 0.5vw;
            text-align: center;
            font-size: 2em;
        }

        &__setup-image {
            margin-top: 12px;
            width: 30px;
            height: 30px;
        }
    }
}


